<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193034358656-oh0oliqft2pubpm8fks6clio2rbac12c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193034358656-oh0oliqft2pubpm8fks6clio2rbac12c</string>
	<key>API_KEY</key>
	<string>AIzaSyArhwWBOWQfZGrUpdA0ZoJlOdKymq6FjtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>193034358656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gimjungwook.final.mad</string>
	<key>PROJECT_ID</key>
	<string>project-mad-gimjungwook</string>
	<key>STORAGE_BUCKET</key>
	<string>project-mad-gimjungwook.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193034358656:ios:2578de42b0981785d8fb65</string>
</dict>
</plist>